<p id="notice"><%= notice %></p>

<h1>Legislators</h1>

<% @legislators["results"].each do |legis| %>
  <p>
    <%= "#{legis['first_name']}"+" "+"#{legis['last_name']}" %>
  </p>
<% end %>

<br>

<%= link_to 'New Legislator', new_legislator_path %>
