<div>

  <header class="jumbotron">
    <h1>Legislators</h1>
  </header>

  <table>
    <thead>
      <th>
        Legislator Name
      </th>
    </thead>
    <tbody>
      <tr data-ng-repeat="legis in legislatorsIndexVM">
        <td>{{legis.first_name}} {{legis.last_name}}</td>
      </tr>
    </tbody>
  </table>



</div>
